@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/magnific-popup/dist/magnific-popup";

* {
    box-sizing: border-box;
}
// font-family: 'Lato', sans-serif;

body {
    background-color: #fff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;;
}
.container {
    max-width: 1030px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
}
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: 110px;
    &__inner {
        text-align: center;
        width: 530px;
        height: 530px;
        border-radius: 50%;
        border: 10px solid #f4d4a5;
        background: #fff;
        padding-top: 15px;
        margin-left: 150px
    }
    &__name {
        padding-top: 15px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 15px;
        color: #bf4200;
    }
    &__title {
        margin-top: 54px;
        color: #1fad26;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__sale {
        margin-top: 50px;
    }
}
.phone {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 35px;
    display: inline-block;
    color: #000;
}
.main {
    text-align: center;
    &__title {
        color: #d07a2d;
        font-size: 41px;
        margin-top: 71px;
    }
    &__text {
        margin-top: 81px;
        font-size: 30px;
    }
    &__img {
        margin: 110px auto;
    }
}
.project {
    &__title {
        color: #d07a2d;
        font-size: 41px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__item {
        margin-top: 125px;
    }
    &__name {
        font-size: 32px;
        font-weight: 700;
    }
    &__size, &__area, &__price {
        font-size: 25px;
        margin-top: 10px;
    }
    &__price {
        color: #17753b;
        font-weight: 700;
    }
    &__images {
        margin-top: 37px;
        margin-bottom: 160px;
        &_item {
            margin-bottom: 30px;
        }
    }
}
.download {
    background-color: #f1dfbc;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 37px;
    margin-bottom: 124px;
    & img {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
    }
    & a {
        color: #fff;
        display: block;
        text-decoration: underline;
        font-size: 32px;
        border: 5px solid #effd15;
        background-color: #17753b;
        padding: 25px 10px;
        max-width: 600px;
        margin: 0 auto;
    }
}
.gallery {

    &__title {
        margin-bottom: 51px;
        color: #d07a2d;
        font-size: 41px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__text {
        font-size: 25px;
        margin-bottom: 68px;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        & img {
            display: block;
        }
    }
}
.footer {
    text-align: center;
    .phone {
        margin-bottom: 100px;
        font-weight: 700;
        font-size: 50px;
    }
    &__email {
        margin-bottom: 197px;
        font-size: 30px;
        color: #2f8bc5;
        text-decoration: underline;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
    }
}


